html{
 overflow-x:hidden;
 overflow-y:scroll;
}

.wrapper{
  width:40% !important;
  height:250px !important;
  border:1px solid lightgray !important;
  margin:auto !important;
  margin-top:2% !important;
}

@media(max-width:576px){
  .wrapper{
     width:100% !important;
     height:262px !important
  }
}